body {
  color: white;
  background-color: black;
  font-size: 12px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li{
  float: left;
  
.biggerText {
  font-size: 16px;
}
.bubbledText{
  color:black;
  background-color:white;
  padding:1px;
}
.iconImg1 {
  height: 1px;
  width: 1px;
  
.top {
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
}
.page1 {
  background-image: url('background.png');
  width:100%;
  height: 400px;
  background-size: cover;
}

.page2 {
  display: flex;
}
